pandas==2.2.2
numpy==2.0.1
matplotlib==3.9.0
seaborn==0.13.2
plotly==5.22.0
streamlit==1.37.1
scikit-learn==1.5.1
folium==0.17.0
statsmodels==0.14.2
requests==2.32.3

# Optional (install if needed)
# prophet
# torch


